body {
    width: auto;
    max-width: 100%;
    
}

.logo {
    background-color: black;
    font-size: 100px;
    margin-inline: auto;
    margin-top: 10px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    border: 5px solid red;
}


.logo:hover {
    opacity: 0.8;
    transition: opacity 0.15s;
    background-color: rgb(44, 184, 240);
    color: black;
}

.product-brushes, .product-frames, .product-paint {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;

}

.product-brushes {
    background-color: mediumspringgreen;
}

.product-frames {
    background-color: lightcoral;
}

.product-paint {
    background-color: skyblue;
}

h4 {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-weight: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

p .price {
    color: blue;
}

a {
    text-decoration: none;
    width: 20px;
}

.h4a {
    color: black;
}

strong:hover {
    color: red;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    min-width: 10%;
    padding: 5px;
}

footer p {
    padding-left: 350px;
    width: auto\9;
    max-width: 100%;
}